@media all and (max-width: 1200px) {
  img {
    max-width: 100%;
  }

  #root,
  .wrapper {
    height: auto !important;
    min-height: 100% !important;
  }

  .content {
    padding: 0 15px;
  }

  .container {
    max-width: 100% !important;
    flex-direction: column;
    text-align: center;
  }

  .wrapper .profile {
    flex-direction: column;

    &__right,
    &__left {
      width: 100%;
      max-width: unset;
      overflow: unset;
    }
  }

  .wrapper header .logo {
    text-align: center;
  }
  .wrapper header ul {
    display: none !important;
  }

  .wrapper .banner {
    padding-top: 100px;
  }

  .wrapper .banner .container {
    height: auto;
  }

  .wrapper .banner img {
    display: none;
  }

  .wrapper .banner .banner__left {
    width: 100%;
  }

  .wrapper .banner p,
  .wrapper .banner h1 {
    justify-content: center;
    text-align: center;
  }

  .wrapper .quickbox {
    flex-direction: column;
    align-items: flex-end;
    padding-left: 20%;
    text-align: right;
    padding-right: 30px;
    height: auto;
  }

  .wrapper .quickbox img {
    display: none;
  }

  .wrapper .quicklist {
    flex-direction: column;
  }

  .wrapper .quicklist li {
    justify-content: center;
    align-items: center;
  }

  .wrapper .section .section__left {
    width: 100%;
    padding-bottom: 30px;
  }

  .wrapper .footer {
    padding: 30px;
  }

  .wrapper .footer .copyright {
    text-align: center;
    padding-top: 30px;
  }
}
